/************ Projects CSS ************/
.project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  
  @media (max-width: 768px) {
    padding: 80px 0;
  }
}
.project h1{
  color: white;
  font-size: 53px;
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;

  span {
    display: inline-block;
  }
}

// .project p {
//   color: white;
//   margin-bottom: 20px;
//   font-size: 18px;
//   font-family: sans-serif;
//   line-height: 1.5;
//   text-align: left;

//   @media (max-width: 768px) {
//     text-align: center;
//   }
// }

.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  width: 56%;
  text-align: left;

  @media (max-width: 768px) {
    width: 90%;
  }
}

.project .nav-pills {
  width: 62%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    width: 90%;
  }
}

.project .nav-pills button {
  background-color: transparent;
  border-radius: 0;
  padding: 10px 0;
  color: white;
  width: 33.33333%;
  font-size: 20px;
  letter-spacing: 0.8px;
  font-weight: bold;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
  border: none;
  cursor: pointer;
}

.project .nav-pills button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(180.21deg, #d3d3d3 -5.91%, #2e2e2e 111.58%);  
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project .nav-pills button.active::before {
  width: 100% !important;
}

.project .nav-pills button.active {
  border: 1px solid rgb(0, 0, 0);
}

.project .nav-pills button:first-child {
  border-radius: 55px 0px 0px 55px;
}

.project .nav-pills button:nth-child(2) {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.project .nav-pills button:last-child {
  border-radius: 0 55px 55px 0;
}

@media (max-width: 768px) {
  .project .nav-pills button {
    width: 100%;
  }
}
/************ Projects CSS ************/
