.logo-container {
    z-index: -4;
    width: 400px;
    height: 609px;
    position: absolute;
    right: 15%;
    left: auto;

    opacity: 0;

    .solid-logo {
        position: relative;
        top:auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        transform: rotateZ(20deg);
        z-index: 1;
    }


}